# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
venv/
env/

# Django
*.sqlite3
*.log
local_settings.py
media/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Mac
.DS_Store

# Testing
.pytest_cache/
htmlcov/
.coverage

# Distribution
dist/
build/
*.egg-info/
